@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  --site-background: 22, 27, 34, 255;
  --primary-text: 255, 255, 255, 255;
  --normal-border: 51, 53, 63;
}

.light {
  --site-background: 255, 255, 255, 255;
  --primary-text: 0, 0, 0, 255;
  --normal-border: 51, 53, 63;
}

/**
 * Base styles for basic elements. Since we are using WordPress to update the
 * html content in our react components we can directly add specific styles, so
 * these add a baseline styling.
 */
@layer base {
  html{
    font-family: "Noto Naskh Arabic", serif, system-ui, sans-serif;
  }
  h1 {
    @apply text-4xl font-extrabold;
  }
  strong {
    @apply font-extrabold !important;
  }
  p {
    @apply py-2;
  }
  ul{
    @apply list-disc list-inside py-4;
  }
  li{
    @apply py-1;
  }
}